<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="viewController"
		class="org.springframework.web.portlet.mvc.ParameterizableViewController">
		<property name="viewName" value="view" />
	</bean>

	<bean id="editController"
		class="org.springframework.web.portlet.mvc.ParameterizableViewController">
		<property name="viewName" value="edit" />
	</bean>

	<bean id="helpController"
		class="org.springframework.web.portlet.mvc.ParameterizableViewController">
		<property name="viewName" value="help" />
	</bean>

	<bean id="portletModeHandlerMapping"
		class="org.springframework.web.portlet.handler.PortletModeHandlerMapping">
		<property name="order" value="2">
			<description>
				通常は必要ないが、今回はportletModeParameterHandlerMappingとの間に優先順位を決める必要があるので指定する。portletModeParameterHandlerMappingよりも下の優先順位にする。
			</description>
		</property>
		<property name="portletModeMap">
			<map>
				<entry key="view" value-ref="viewController" />
				<entry key="edit" value-ref="editController" />
				<entry key="help" value-ref="helpController" />
			</map>
		</property>
	</bean>

	<bean id="parameterMappingInterceptor"
		class="org.springframework.web.portlet.handler.ParameterMappingInterceptor">
		<description>portletModeParameterHandlerMappingの為に必要</description>
	</bean>

	<bean id="portletModeParameterHandlerMapping"
		class="org.springframework.web.portlet.handler.PortletModeParameterHandlerMapping">
		<description>パラメータ付リンクで画面を移動させるのに必要。パラメータごとにコントローラを変える。</description>
		<property name="order" value="1">
			<description>
				portletModeHandlerMappingとの間に優先順位を付ける為に指定する。portletModeHandlerMappingよりも優先順位を上にする。こちらが上でなければ、パラメータ付きリンクが動作しない。
			</description>
		</property>
		<property name="portletModeParameterMap">
			<map>
				<entry key="view">
					<map>
						<entry key="view1" value-ref="viewController" />
					</map>
				</entry>
				<entry key="edit">
					<map></map>
				</entry>
			</map>
		</property>
		<property name="interceptors">
			<list>
				<ref bean="parameterMappingInterceptor" />
			</list>
		</property>
	</bean>

</beans>